.sc-about-main-content .h2-title {
  margin-bottom: 20px;
}

.wcm-logo {
  margin-bottom: 1.56vw;
  /*30px;*/
}

.wcm-logo img {
  object-fit: cover;
  height: 5.05vw;
  /*97px;*/
}

.a-gallery {
  margin-top: 2.81vw;
  /*54px;*/
  gap: 1.56vw;
  /*30px;*/
}

.a-gallery img {
  width: calc((100% - 1.56vw)/2);
  /*30px*/
  border-radius: 20px;
  object-fit: cover;
}

.sc-about-main-content p {
  font-family: 'Soleto';
  font-size: 1.15vw;
  /*22px;*/
  line-height: 1.5;
  color: #000;
}

.sc-about-main-content .sc-btn {
  margin-top: 4.27vw;
  /*82px;*/
}

.sc-about-main-content .sc-btn a {
  max-width: 22.40vw;
  /*430px;*/
  width: 100%;
  border: 2px solid transparent;
}

.sc-about-main-content .sc-btn a:hover {
  border: 2px solid #F2771A;
}

@media only screen and (max-width:922px) {
  .sc-about-main-content .h2-title {
    font-size: 36px !important;
    margin-bottom: 40px;
  }

  .sc-about-main-content p {
    font-size: 16px;
  }

  .a-gallery {
    margin-top: 48px;
    gap: 32px;
  }

  .a-gallery img {
    width: calc((100% - 32px)/2);
  }

  .sc-about-main-content .sc-btn {
    margin-top: 28px;
  }

  .sc-about-main-content .sc-btn a {
    max-width: 300px;
  }
}

@media only screen and (max-width:544px) {
  .a-gallery img {
    width: 100%;
  }

  .sc-about-main-content .sc-btn a {
    max-width: unset;
  }
}

.sc-about-core-values {
  padding: 3.13vw 0px 7.81vw;
  /*60px 0px 150px;*/
}

.core-boxies {
  gap: 1.67vw;
  /*32px;*/
  margin-top: 1.56vw;
  /*30px;*/
}

.core-boxies .box {
  width: calc((100% - (1.67vw * 2))/3);
  /*32px;*/
  border: 2px dashed #ACCBDF;
  background: #fff;
  border-radius: 20px;
  padding: 1.56vw 1.25vw;
  /*30px 24px;*/
  height: auto;
}

.core-boxies figure {
  margin-bottom: 0.62vw;
  /*12px;*/
}

.core-boxies figure img {
  max-height: 3.64vw;
  height: 100%;
}

.core-boxies .desc {
  font-size: 1.04vw;
  /*20px;*/
  line-height: 1.6;
  margin-top: 0.73vw;
  /*14px;*/
}

@media only screen and (max-width:922px) {
  .sc-about-core-values {
    padding: 60px 0px 70px;
  }

  .sc-about-core-values .h2-title {
    font-size: 36px !important;
  }

  .core-boxies {
    gap: 40px;
    margin-top: 40px;
  }

  .core-boxies .box {
    width: calc((100% - (40px * 2))/3);
    padding: 20px 20px 26px;
  }

  .core-boxies figure {
    margin-bottom: 12px;
  }

  .core-boxies figure img {
    max-height: unset;
  }

  .core-boxies .h3-title {
    font-size: 26px !important;
  }

  .core-boxies .desc {
    font-size: 16px;
    margin-top: 14px;
  }
}

@media only screen and (max-width:768px) {
  .core-boxies .box {
    width: 100%;
  }
}

.sc-about-our-mission {
  padding: 4.37vw 0px 7.29vw;
  /*84px 0px 140px;*/
}

.sc-about-our-mission .h2-title {
  margin-bottom: 1.04vw;
  /*20px;*/
}

.sc-about-our-mission .list {
  margin: 2.96vw 0px;
  /*57px 0px;*/
  gap: 1.45vw;
  /*28px;*/
}

.sc-about-our-mission .list a {
  background: #0659A9;
  padding: 0.93vw 1.04vw;
  /*18px 20px;*/
  border-radius: 5.20vw;
  /*100px;*/
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.14vw;
  /*22px;*/
  line-height: 1.5;
}

@media only screen and (max-width:922px) {
  .sc-about-our-mission {
    padding: 40px 0px;
  }

  .sc-about-our-mission .h2-title {
    margin-bottom: 40px;
    font-size: 36px !important;
  }

  .sc-about-our-mission .list {
    margin: 24px 0px 32px;
    gap: 20px;
  }

  .sc-about-our-mission .list a {
    font-size: 16px;
    padding: 18px 20px;
  }

  .sc-about-our-mission .desc,
  .sc-about-our-mission .bottom-content {
    font-size: 16px !important;
  }
}

@media only screen and (max-width:544px) {
  .sc-about-our-mission .list a {
    width: 100%;
    text-align: center;
  }
}