.sc-blog {
    padding: 148px 0 116px;
    overflow: hidden;
}

.sc-blog .main {
    gap: 77px;
    width: 100%;
}

.sc-blog .blog-items {
    flex: 1;
    gap: 76px;
    max-width: 937px;
}

.sc-blog .blog-items .item {
    gap: 30px;
    padding-bottom: 78px;
    border-bottom: 1px solid #C6D9F9;
}

.sc-blog .blog-items .image {
    flex: 0 0 318px;
    aspect-ratio: 318 / 284;
    border-radius: 15px;
    overflow: hidden;
}

.sc-blog .blog-items .info {
    flex: 1;
}

.sc-blog .blog-items .blog-title {
    font-family: 'Soleto';
    font-weight: 800;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 35px;
    color: #000000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.sc-blog .blog-items .description {
    font-family: 'Soleto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #000000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sc-blog .blog-items .div-button {
    display: flex;
    gap: 23px;
}

.sc-blog .blog-items .div-button .button-link {
    padding: 9.26px 0 14.74px;
    text-align: center;
    background: #F0791D;
    color: #FFFFFF;
    border-radius: 6px;
    font-family: 'Soleto';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.326;
    width: 211px;
}

.sc-blog .blog-items .div-button .social {
    display: flex;
    gap: 7.58px;
    align-items: center;
}

.sc-blog .blog-items .social .social-icon {
    width: 22.74px;
    height: 22.74px;
}

.sc-blog .blog-items .social .social-icon img {
    vertical-align: unset;
}

.sc-blog .blog-items .image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 318 / 284;
}

.sc-blog .recent-posts {
    flex: 0 0 346px;
}

.page-navigation {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.page-navigation .button {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: #A6B9D9;
    color: #FFFFFF;
    font-family: 'Soleto';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

.page-navigation .button.active {
    background: #2A5293;
}

@media(max-width:1200px) {
    .sc-blog .blog-items .div-button {
        flex-wrap: wrap;
    }
}

@media(min-width:1025px) and (max-width:1200px) {
    .sc-blog .blog-items .image {
        flex: 0 0 218px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .recent .recent-items {
        flex-direction: unset !important;
        flex-wrap: wrap !important;
    }

    .recent .recent-items a {
        flex: 0 0 calc((100% - 56px) / 3)
    }
}

@media(max-width:1024px) {
    .sc-blog .blog-items {
        flex: 0 0 100%;
    }

    .sc-blog .recent-posts {
        flex: 0 0 100%;
    }
}

@media(max-width:768px) {
    .sc-blog .blog-items .image {
        flex: 0 0 218px;
    }

    .sc-blog .blog-items .blog-title {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .sc-blog .blog-items .description {
        font-size: 14px;
    }

    .sc-blog .blog-items {
        gap: 38px;
    }

    .sc-blog .blog-items .item {
        padding-bottom: 38px;
    }
}

@media(max-width:550px) {
    .sc-blog .blog-items .image {
        flex: 0 0 100%;
    }

    .sc-blog .recent-posts {
        flex: 0 0 100%;
    }
}

.recent .search {
    overflow: hidden;
    position: relative;
    margin-bottom: 47px;
}

.recent .search input {
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 18px 30px 18px 67px;
    height: auto;
    font-family: 'Soleto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    color: #CFCFCF;
    height: 58px;
}

.recent .search input::placeholder {
    font-family: 'Soleto';
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    color: #CFCFCF;
}

.recent .search button {
    position: absolute;
    top: 18px;
    left: 30px;
    width: 22px;
    height: 22px;
    z-index: 1;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.recent .search button img {
    width: 100%;
    height: 100%;
}

.recent .recent-title {
    font-family: 'Soleto';
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 24px;
}

.recent .recent-items {
    display: flex;
    gap: 28px;
    flex-direction: column;
}

.recent .item {
    display: flex;
    gap: 14px;
    padding: 22px 17px 22px 13px;
    background: #E8F2FF;
    overflow: hidden;
    border-radius: 15px;
}

.recent .item .image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 999px;
}

.recent .item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 60 / 60;
}

.recent .item .recent-info {
    flex: 1;
}

.recent .item .time {
    font-family: 'Soleto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: #000000;
    margin-bottom: 5px;
}

.recent .item .title {
    font-family: 'Soleto';
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}